.footer {
    background-color: #111111;
    color: #FFFFFF;
}

.footer_h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.footer_h4:hover {
    text-decoration: underline;
}

.footer_h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 160px;
}

.footer_h:hover {
    text-decoration: underline;
}

.footer_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer_text:hover {
    text-decoration: underline;
}

.nav_footer ul li {
    margin-bottom: 6px;
}

.nav_footer {
    padding-top: 50px;
}

.footer_ul_flex {
    display: flex;
    justify-content: space-between;


}

.footer_h43 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.footer_ikon {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: 55px;
}

.flex_ikon {
    display: flex;
    max-width: 170px;
    justify-content: space-between;
}

.footer_mini {
    max-height: 90px;
}

.dddd {
    margin: 0;

    padding-bottom: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 1100px) {
    .footer_h {
        font-size: 14px;
        line-height: 17px;
    }

    .footer_h4 {
        font-size: 14px;
        line-height: 17px;
    }

    .footer_text {
        font-size: 10px;
        line-height: 14px;
    }

    .footer_h43 {
        font-size: 14px;
        line-height: 17px;
    }

    .dddd {
        font-size: 12px;
        line-height: 150%;
    }

    .footer_ikon {
        width: 21px;
        height: 21px;
    }
}